<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyKeyboardAvoidingScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15FADBA31C1AD0AF0088C798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15FADBBA1C1AD0AF0088C798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15FADBC51C1AD0AF0088C798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
